$redcolor: #BE1E2D;
$lightgraycolor: #D7D7DC;
$font-stack: Lato, sans-serif;

html {
  font-family: $font-stack;
  font-weight: 300;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

::selection {
  color: $redcolor;
  background: none;
}

ul {
  list-style-type: none;
}

a {
  color: gray;
  // transition: all 1.0s ease;
  text-decoration:none;
  font-weight: 500;
}

// a:hover {
//   color: $redcolor;
//   transition: color 2.0s ease;
// }

#hello-link {
  display: inline;
  color: $redcolor;
}

@-webkit-keyframes redGlow {
  from { opacity:0.7;}
  50% { opacity:1;}
  to { opacity:0.7;}
}
#go {
  -webkit-animation-name: redGlow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.hidden {
  display: none;
}
.shown {
  display: inline;
}
.selected {
  font-weight:bold;
  color: $redcolor;
}

.menu {
  text-align: center;
  margin: 0 0 0 -25pt;
  padding:0;
  font-weight: 500;
  li {
    margin: 10px;
    display: inline-block;
    -webkit-animation-name: redGlow;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
  }
}

#blurb {
  display: inline;
  color: gray;
}

.links img {
  height: 20px;
  width: 20px;
}

.title {
  font-weight: 100;
  font-size: 48pt;
  text-transform: uppercase;
  letter-spacing: 4px;
}


.heading {
  padding-top: 200pt;
  padding-bottom: 200pt;
}

.content {
  margin: 0 auto;
  // width: 40%;
  letter-spacing: 1pt;
  line-height: 150%;
}

#hello {
  display: inline;
}

#main {
  padding-top:300px;
  padding-bottom:500px;
}

