html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  height: 100vh
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow:hidden;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main_section {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  margin: 0;
}

#particles-js {
  background-image: linear-gradient(270deg, #009FFF, #ec2F4B);
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
  position: fixed; 
}

.content {
  position: relative;
  z-index: 2;
  height: 100vh
}

.topnav {
  overflow: auto
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #bfbfbf;
}

.topnav a.active {
  color: #a69dec;
}

.text {
  margin:auto;
  position: relative;
  text-align: center;
  top: 35%;
  width: 50%;
  color: white;
}

.text a {
  margin: 10px;
}

.projects {
 padding: 1em;
 text-align: center;
 left: 0;
 color: white;
 height: 90vh;
 height: calc(100vh - 65px);
 overflow-y: auto;
}

.thanks {
  position: fixed;
  margin: 10px;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 80%
}

.icon {
  filter:invert(1);
  width:25px; 
  color:white
  margin-left:15px;
  margin-right:15px;
}

.card {
  background: #f2f2f2;
  border-radius: 8px;
  margin: 1rem;
  /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
  box-shadow: 2px 10px 15px rgba(0,0,0,.3);
  min-width: 215px;
  transition: all 0.2s;
  padding: 1rem;
  transform: translateZ(0);
}

.card:hover {
  transform: scale(1.03);
  -webkit-transform:scale(1.03);
  -moz-transform:scale(1.03);
}

.container {
  padding: 1rem;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 800px) {
  .card-columns {
    column-count: 3;
  }
}

.box-title {
  color:black; 
  margin:10px
}

.no-underline a {
  text-decoration: none
}

.projects::-webkit-scrollbar { 
    display: none;
}
