html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  height: 100%
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow:hidden;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main_section {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  margin: 0;
}

#particles-js {
  background-image: linear-gradient(90deg, rgba(5,0,96,1) 0%, rgba(2,0,139,1) 100%);
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
  position: fixed; 
}

.content {
  position: relative;
  z-index: 2;
  height: 100vh
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #bfbfbf;
}

.topnav a.active {
  color: #c77300;
}

.text {
  margin:auto;
  position: relative;
  text-align: center;
  left: 0;
  top: 40%;
  width: 50%;
  color: white;
}

.projects {
  margin:auto;
  position: relative;
  text-align: center;
  left: 0;
  top: 20%;
  width: 62%;
  color: white;
}

.thanks {
  margin:auto;
  position: relative;
  text-align: right;
  left: 0;
  top: 85%;
  width: 97%;
  color: white;
  font-size: 80%
}

img {
  filter:invert(1);
  width:25px; 
  color:white
  margin-left:15px;
  margin-right:15px;
}

.card {
  background: #f2f2f2;
  border-radius: 6px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: top 0.3s;
  top: 0;
}

.card:hover {
  top: -10px;
}
